body {
    margin: 0;
    overflow: hidden;
    background: #1a237e;

    font-family: 'Montserrat';
}

#timetxt {
    color:white;
    font-size: 72px;
    position: fixed;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
}