body {
    margin: 0;
    overflow: hidden;

    font-family: 'Montserrat';
}

.main {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: white;
    
}

#timetxt {
    font-size: 108px;
    text-align: center;
}

#greettxt {
    font-size: 36px;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    #timetxt {
        font-size: 54px;
        text-align: center;
    }
    
    #greettxt {
        font-size: 18px;
        text-align: center;
    }

} 