body {
    margin: 0;
    overflow: hidden;

    font-family: 'Montserrat';
}

.main {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: white;
    
}

#timetxt {
    font-size: 108px;
    text-align: center;
}

#greettxt {
    font-size: 36px;
    text-align: center;
}